<a href="https://colab.research.google.com/github/Jesi1511/R_GUVI_Final_Project/blob/main/Data_Frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a data frame named df_students with the following columns: ID, Name, Age, and Grade. Populate it with data for 5 students. Perform the following operations:
Add a new column Passed that indicates with TRUE or FALSE whether each student passed (assume a passing grade is at least 60).
Select and print only the rows of students who are 18 years or older.

In [6]:
df_students <- data.frame(
    ID = 1:5,
    Name = c("Alice", "Bob", "Charlie", "David", "Emma"),
    Age = c(20,18,19,17,21),
    Grade = c(70, 55, 80, 40, 90)
)

df_students$Passed <- df_students$Grade >= 60

selected_students <- df_students[df_students$Age >=18, ]
print(selected_students)

  ID    Name Age Grade Passed
1  1   Alice  20    70   TRUE
2  2     Bob  18    55  FALSE
3  3 Charlie  19    80   TRUE
5  5    Emma  21    90   TRUE