<a href="https://colab.research.google.com/github/Jesi1511/R_GUVI_Final_Project/blob/main/Data_Frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a data frame named df_students with the following columns: ID, Name, Age, and Grade. Populate it with data for 5 students. Perform the following operations:
 1. Add a new column Passed that indicates with TRUE or FALSE whether each student passed (assume a passing grade is at least 60).
 2. Select and print only the rows of students who are 18 years or older.

In [ ]:
df_students <- data.frame(
    ID = 1:5,
    Name = c("Alice", "Bob", "Charlie", "David", "Emma"),
    Age = c(20,18,19,17,21),
    Grade = c(70, 55, 80, 40, 90)
)

df_students$Passed <- df_students$Grade >= 60

selected_students <- df_students[df_students$Age >=18, ]
print(selected_students)

  ID    Name Age Grade Passed
1  1   Alice  20    70   TRUE
2  2     Bob  18    55  FALSE
3  3 Charlie  19    80   TRUE
5  5    Emma  21    90   TRUE

2. Suppose you have two data frames, df_A and df_B. df_A contains student IDs and names, while df_B contains student IDs and their corresponding courses. Write R code to merge these data frames so each row contains a studentâ€™s ID, name, and course.

In [ ]:
df_A <- data.frame(
  student_ID =c(1, 2, 3, 4, 5),
  Name = c("Alice", "Bob", "Charlie", "David", "Emma")
)

df_B <- data.frame(
  student_ID =c(1, 2, 3, 4, 5),
  Course = c("Math", "Science", "English", "History", "Art")
)
merged_df <- merge(df_A, df_B, by ="student_ID")
print(merged_df)

  student_ID    Name  Course
1          1   Alice    Math
2          2     Bob Science
3          3 Charlie English
4          4   David History
5          5    Emma     Art

3. Given a data frame df_sales with columns Date, ProductID, Quantity, and Price, write R code to calculate the total sales (Quantity * Price) for each product.

   **Note: Generate your own data set.**

In [18]:
set.seed(123)
date <- sample(seq(as.Date("2024-01-1"), as.Date("2024-04-10"), by = "day"),100, replace = TRUE)
product_id <- sample(1:10, 100, replace = TRUE)
quantity <- sample(1:10, 100, replace = TRUE)
price <- sample(1:10, 100, replace = TRUE)


df_sales <- data.frame(
  Date = date,
  ProductID = product_id,
  Quantity = quantity,
  Price = price
)


total_sales <- aggregate(df_sales$Quantity * df_sales$Price, by = list(ProductID = df_sales$ProductID), FUN = sum)
colnames(total_sales)[2] <- "Totalsales"

#print(total_sales)
# Merge total_sales with df_sales to include the date
merged_df <- merge(df_sales, total_sales,  by = "ProductID")

# Print the merged dataframe with date and total sales
print(merged_df)

    ProductID       Date Quantity Price Totalsales
1           1 2024-03-31       10     4        176
2           1 2024-01-31        7     4        176
3           1 2024-03-21        6     8        176
4           1 2024-02-03        6     8        176
5           1 2024-03-12        7     1        176
6           1 2024-01-21        1     5        176
7           2 2024-01-25        7    10        240
8           2 2024-04-10        9    10        240
9           2 2024-01-07        8     5        240
10          2 2024-01-16        2    10        240
11          2 2024-01-25        2    10        240
12          3 2024-04-01       10     9        234
13          3 2024-04-02       10     7        234
14          3 2024-03-04        1     5        234
15          3 2024-01-09        2     2        234
16          3 2024-02-19        9     1        234
17          3 2024-02-22        7     6        234
18          3 2024-04-06        7     2        234
19          4 2024-03-29       10     1        269
20          4 2024-01-07        1     4        269
21          4 2024-03-09        9     4        269
22          4 2024-03-09       10     6        269
23          4 2024-01-13        8     8        269
24          4 2024-04-05        5     3        269
25          4 2024-03-11        3     6        269
26          4 2024-02-10        1     2        269
27          4 2024-03-31        4     1        269
28          4 2024-03-26        6     8        269
29          4 2024-01-25        2     4        269
30          5 2024-01-14        2     8        283
31          5 2024-01-14       10     3        283
32          5 2024-02-08       10     7        283
33          5 2024-02-21        7     8        283
34          5 2024-03-07        4     9        283
35          5 2024-03-21        5     3        283
36          5 2024-04-04        3    10        283
37          5 2024-01-15        3    10        283
38          6 2024-02-26        1     4        302
39          6 2024-03-19        9     6        302
40          6 2024-02-12        9     3        302
41          6 2024-03-31        1     4        302
42          6 2024-04-02        5     7        302
43          6 2024-04-03        2     9        302
44          6 2024-02-09        6     9        302
45          6 2024-03-23        6     7        302
46          6 2024-03-03        5    10        302
47          6 2024-01-23        1     5        302
48          6 2024-02-07        1     9        302
49          7 2024-01-31        7     2        520
50          7 2024-02-22        9     3        520
51          7 2024-02-01        9     5        520
52          7 2024-03-30        8     2        520
53          7 2024-01-26        5     2        520
54          7 2024-03-29        9    10        520
55          7 2024-02-11        9     3        520
56          7 2024-02-07        2     3        520
57          7 2024-01-30       10     9        520
58          7 2024-01-07       10     8        520
59          7 2024-03-14       10     1        520
60          7 2024-02-01        7     9        520
61          7 2024-02-05        2     1        520
62          7 2024-01-31       10     4        520
63          8 2024-01-09        1     8        410
64          8 2024-02-19        3     3        410
65          8 2024-03-22        5     7        410
66          8 2024-04-02        7     1        410
67          8 2024-03-09        3     7        410
68          8 2024-02-11        8     2        410
69          8 2024-04-08        5    10        410
70          8 2024-03-16        4     6        410
71          8 2024-02-04        2     4        410
72          8 2024-03-12        9     6        410
73          8 2024-02-29        1     6        410
74          8 2024-01-27        9    10        410
75          8 2024-03-16        5    10        410
76          8 2024-02-03        4     8        410
77          9 2024-02-10        4     1        142
78          9 2024-02-16        2     5        142
79          9 2024-03-12        1     8        142
80          9 2024-02-29        5     2        142
81          9 2024-01-13        7     4        142
82          9 2024-01-30        5     6        142
83          9 2024-04-05        1     5        142
84          9 2024-01-06        5     7        142
85          9 2024-01-22        3     4        142
86         10 2024-02-12        9     6        423
87         10 2024-04-08        3     1        423
88         10 2024-01-14        5     8        423
89         10 2024-03-18        1     2        423
90         10 2024-01-25        9     6        423
91         10 2024-03-19        2     8        423
92         10 2024-03-26       10     3        423
93         10 2024-02-20        7     3        423
94         10 2024-01-27        5     2        423
95         10 2024-03-27        4     3        423
96         10 2024-03-07        9     3        423
97         10 2024-03-30        6    10        423
98         10 2024-01-04        3     6        423
99         10 2024-01-12        9     4        423
100        10 2024-01-09        4    10        423

4. For iris data set.
  1. Calculate the average Sepal.Length for each Species.
  2. Create a new column Sepal.Area which is the product of Sepal.3 Length and Sepal.Width.
  3. Find the species with the highest average Sepal.Area

In [30]:
data(iris)
avg_sepal_length <- aggregate(Sepal.Length ~ Species, data = iris, FUN = mean)
print(avg_sepal_length)

iris$Sepal.Area <- iris$Petal.Length * iris$Petal.Width
avg_sepal_area <- aggregate(Sepal.Area ~ Species, data = iris, FUN = mean)
max_avg_sepal_area_species <- avg_sepal_area[which.max(avg_sepal_area$Sepal.Area), "Species"]
print(avg_sepal_area)
print(max_avg_sepal_area_species)

     Species Sepal.Length
1     setosa        5.006
2 versicolor        5.936
3  virginica        6.588
     Species Sepal.Area
1     setosa     0.3656
2 versicolor     5.7204
3  virginica    11.2962
[1] virginica
Levels: setosa versicolor virginica

5. For airquality data set.
    1. Calculate the average Ozone level for each month, excluding missing values.
    2. Determine the month with the highest average Ozone level.
    3. Create a new data frame with Month and Temp columns, excluding days with missing Ozone values.

In [38]:
# Load the airquality dataset
data(airquality)
# Convert Month to a factor with labels
airquality$Month <- factor(airquality$Month, labels = c("May", "June", "July", "August", "September"))

# Calculate the average Ozone level for each month, excluding missing values
avg_ozone <- tapply(airquality$Ozone, airquality$Month, FUN = function(x) mean(x, na.rm = TRUE))

# Print the average Ozone level for each month
print("Average Ozone level for each month:")
print(avg_ozone)

# Determine the month with the highest average Ozone level
max_avg_ozone_month <- names(which.max(avg_ozone))

# Print the month with the highest average Ozone level
print(sprintf("Month with the highest average Ozone level: %s", max_avg_ozone_month))


# Create a new data frame with Month and Temp columns, excluding days with missing Ozone values
filtered_data <- airquality[complete.cases(airquality$Ozone), c("Month", "Temp")]

# Print the new data frame
print("New data frame with Month and Temp columns, excluding days with missing Ozone values:")
print(filtered_data)

[1] "Average Ozone level for each month:"
      May      June      July    August September
 23.61538  29.44444  59.11538  59.96154  31.44828
[1] "Month with the highest average Ozone level: August"
[1] "New data frame with Month and Temp columns, excluding days with missing Ozone values:"
        Month Temp
1         May   67
2         May   72
3         May   74
4         May   62
6         May   66
7         May   65
8         May   59
9         May   61
11        May   74
12        May   69
13        May   66
14        May   68
15        May   58
16        May   64
17        May   66
18        May   57
19        May   68
20        May   62
21        May   59
22        May   73
23        May   61
24        May   61
28        May   67
29        May   81
30        May   79
31        May   76
38       June   82
40       June   90
41       June   87
44       June   82
47       June   77
48       June   72
49       June   65
50       June   73
51       June   76
62       July   84
63       July   85
64       July   81
66       July   83
67       July   83
68       July   88
69       July   92
70       July   92
71       July   89
73       July   73
74       July   81
76       July   80
77       July   81
78       July   82
79       July   84
80       July   87
81       July   85
82       July   74
85       July   86
86       July   85
87       July   82
88       July   86
89       July   88
90       July   86
91       July   83
92       July   81
93     August   81
94     August   81
95     August   82
96     August   86
97     August   85
98     August   87
99     August   89
100    August   90
101    August   90
104    August   86
105    August   82
106    August   80
108    August   77
109    August   79
110    August   76
111    August   78
112    August   78
113    August   77
114    August   72
116    August   79
117    August   81
118    August   86
120    August   97
121    August   94
122    August   96
123    August   94
124 September   91
125 September   92
126 September   93
127 September   93
128 September   87
129 September   84
130 September   80
131 September   78
132 September   75
133 September   73
134 September   81
135 September   76
136 September   77
137 September   71
138 September   71
139 September   78
140 September   67
141 September   76
142 September   68
143 September   82
144 September   64
145 September   71
146 September   81
147 September   69
148 September   63
149 September   70
151 September   75
152 September   76
153 September   68